  body{
    box-sizing: border-box;
    background-color: #cddef7;
  }
#header-nav{
  background-color: orange;
  /* float: left; */
}
#logo-img{
  background: url('slices-strawberries-on-chopping-board-1030865.jpg');
  height: 150px;
  width: 150px;
}


.navbar-brand{
  padding: 25px;
}


/*adding shadow to the name of the brand and styling it a  bit*/
.navbar-brand h1{
  color: green;
  font-size: 1.5em;
  text-shadow: 2px 1px #e8e6e6;
}

/* removing the underline which is default */
.navbar-header a:hover, .navbar-header a:focus{
  text-decoration: none;
}
